{
	"presets": [
		["env", {
			"development": {
				"presets": ["react-hmre"]
			}
		}],
		"stage-0", 
		"react"
	],
	"plugins": [
		"transform-runtime",
		"transform-react-jsx",
		"react-hot-loader/babel",
		[
			"import",
			{
				"libraryName": "antd-mobile",
				"style": true
			}
		]
	]
}